# Maven
/target/

# Java
*.class
*.jar
*.war
*.ear

# IDEs and editors
/.idea/
*.iml
/.project
/.classpath
/.settings/
.vscode/

# Logs and temp files
*.log
logs/
*.tmp

# OS files
.DS_Store
Thumbs.db

# Build directories
/out/
/bin/

# Other
*.keystore
.env
